<div class="row">
    <div class="col-10">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-label"  #txtsearchname/>
            <input type="button" value="search" (click)="onsearch()" />
    
    
        </div>
    
    
    
    </div>
</div>
    <div>
        <table>
            <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th> <a class="btn btn-primary" (click)="onGetcity()" >City</a> </th>
              
                
            </tr>
            </thead>
            <tbody>
               
            <tr *ngFor="let item of licountry">
                <td>
                    {{item.code}}
                 
                  
    
                </td>
                <td>
         
                    {{item.name}}
                  
    
                </td>
               
               
                     </td>
            
                
            </tr>
        
              
            </tbody>
        </table>
    
    
    
    </div>
    
    
    </div>
    
<form [formGroup]="forms">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">code</label>
        <input type="text" class="form-control" formControlName="code" placeholder="name">
        <small *ngIf="forms.controls['code'].touched && forms.hasError('required','code')">code is required</small>
      </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name" placeholder="name">
        <small *ngIf="forms.controls['name'].touched && forms.hasError('required','name')">name is required</small>
      </div>
      <div class="mb-3">
        <input type="button" value="SAVE"  (click)="onSavecountry()"   class="btn btn-primary">
         </div>
    
        </form>
        <form [formGroup]="forms2">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name</label>
                <input type="text" class="form-control" formControlName="name" placeholder="name">
                <small *ngIf="forms.controls['name'].touched && forms.hasError('required','name')">name is required</small>
              </div>
              <div class="mb-3">
                <select class="form-select" aria-label="Default select example" formControlName="city_id">
                  <option *ngFor="let item of licity" [value]="item.id">
                      {{item.name}}
                  </option>
                </div>
                  <div class="mb-3">
                    <input type="button" value="SAVE"  (click)="onSavecity()"   class="btn btn-primary">
                     </div>
                 </form>